<main>
    <section>
        <figure>
            <img src="./assets/images/me.png" alt="">
        </figure>
        <p class="name">I'm Gustavo Jimenez</p>
        <p class="position">I am a Fullstack developer. I love learning 💚 and taking on challenges.</p>

        <div class="tecnologies">
            <div class="tecnology">
                <img src="./assets/images/angular.png" alt="">
                <p>Angular</p>
            </div>
            <div class="tecnology">
                <img src="./assets/images/nodejs.png" alt="">
                <p>NodeJS</p>
            </div>
            <div class="tecnology">
                <img src="./assets/images/mongo.jpg" alt="">
                <p>MongoDB</p>
            </div>
            <div class="tecnology">
                <img src="./assets/images/js.png" alt="">
                <p>Javascript</p>
            </div>
            <div class="tecnology">
                <img src="./assets/images/vue.png" alt="">
                <p>Vue</p>
            </div>
            <div class="tecnology">
                <img src="./assets/images/firebase.webp" alt="">
                <p>Firebase</p>
            </div>
            <div class="tecnology">
                <img src="./assets/images/ionic.webp" alt="">
                <p>Ionic</p>
            </div>
        
        </div>
    </section>
    <h3 class="title-projects">My Projects</h3>


    <!-- PROJECTS -->
    <app-projects [projects]="projects"></app-projects>


    <app-contact></app-contact>
    
</main>
