footer {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background: rgb(2 12 47 / 10%);;
    figure {
        margin: 0;
        img {
            width: 40px;
        }
    }
}