<footer>
    <figure>
        <a href="https://www.linkedin.com/in/gustavo-jim%C3%A9nez-li%C3%A9vano-07ab40122/" target="_blank">
            <img src="./assets/icons/linkedin.png" alt="">
        </a>
    </figure>
    <figure>
        <a href="https://github.com/tavo20" target="_blank">
            <img src="./assets/icons/github.png" alt="">
        </a>
    </figure>
    <figure>
        <a href="https://twitter.com/tavoracho95" target="_blank">
            <img src="./assets/icons/twitter.png" alt="">
        </a>
    </figure>
</footer>